.texteSeries {
    text-align: center;
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
}


.titleJv {
    text-align: center;
    margin-top: 4%;
    color: #DE8500;
}